/*@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900& display=swap');*/
/**{	
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;}
body{
font-family: sans-serif;}*/



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.flex{
	display: flex;
	height: 70px;
	justify-content: space-between;}
.navbar-one{
	background-color: #3a3a3a;
	height: 50px;
	color: #fff;
	cursor: pointer;}
.left >div,
.right>div{
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 15px;}

header{
    position: absolute;
    width: 100%;
    min-height: 75px;
    background: #f9ce2c;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    color: #000;
    font-size: 2.50em;
    font-weight: 600;
    text-decoration: none;
	text-shadow: 1px 3px white;
}
header ul{
    position: relative;
}
header ul li{
    position: relative;
    list-style: none;
    float: left;
}
header ul li a{
    color: #000;
    font-size: 1.3em;
    padding: 20px 25px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}
header ul li a:hover{
    background: #ffb800;
}
header ul li ul{
    position: absolute;
    left: 0;
    width: 200px;
    background: #ffb800;
    display: none;
}
header ul li:hover > ul{
    display: block;
}
header ul li ul li{
    position: relative;
    width: 100%;
    border: 1px solid rgba(0,0,0,0.2);
}
header ul li ul li ul {
    top: 0;
    left: 200px;
    width: 100px;
    background: #ffb800;  
}
@media (max-width: 900px){
    header{
        padding: 10px 20px;
    }
    header nav {
        position: absolute;
        width: 100%;
        top: 66px;
        left: 0;
        background: #445964;  
        display: none;  
    }
    header.active nav{
        display: initial;
    }
    header nav ul li{
        width: 100%;
    }
    header nav ul li ul{
        position: relative;
        width: 100%;
        left: 0;
    }
    header ul li ul li ul{
        top: 0;
        left: 0;
    }
    header nav ul li:hover ul li{
        background: #546e7b;
    }
    .menuToggle{
        position: relative;
        width: 40px;
        height: 50px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menuToggle::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background: #fff;
        transform: translateY(-12px);
        box-shadow: 0 12px #fff;
    }
    .menuToggle::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background: #fff;
        transform: translateY(12px);
}
header.active .menuToggle::before{
    transform: rotate(45deg);
    box-shadow: 0 0 #fff;
}
header.active .menuToggle::after{
    transform: rotate(315deg);
    box-shadow: 0 0 #fff;
}

}

/*.main-banner{
    overflow: hidden;
	padding: 10px;
	max-width: 100%;
	height: 300px;
	margin-top: 105px;
	background-color: #fae9b1;
}
.imagevp{
	float: left;
}*/
.container-one {
    height: 70px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 65% auto; /* Two columns with equal width */
    gap: 0px; /* Gap between columns */
    max-width: 100%; /* Adjust as per your requirements */
    margin: 0px auto; /* Center the container */
        
}

  h2{
    height: 40px;
    text-align: center;
    margin-top: 100px;
    /*background-color: #a50303;*/
    color: #fff;
  }
 	
	.table {
		width: 100%;
		max-width: 100%;
		margin-bottom: 1rem;
		background-color: transparent
	}
	
	.table td,.table th {
		padding: .75rem;
		vertical-align: top;
		border-top: 1px solid #dee2e6
	}
	
	.table thead th {
		vertical-align: bottom;
		border-bottom: 2px solid #dee2e6
	}
	
	.table tbody+tbody {
		border-top: 2px solid #dee2e6
	}
	
	.table .table {
		background-color: #fff
	}
	
	.table-sm td,.table-sm th {
		padding: .3rem
	}
	
	.table-bordered {
		border: 1px solid #dee2e6
	}
	
	.table-bordered td,.table-bordered th {
		border: 1px solid #dee2e6
	}
	
	.table-bordered thead td,.table-bordered thead th {
		border-bottom-width: 2px
	}
	
	.table-striped tbody tr:nth-of-type(odd) {
		background-color: rgba(0,0,0,.05)
	}
	
	.table-hover tbody tr:hover {
		background-color: rgba(0,0,0,.075)
	}
	
	.table-primary,.table-primary>td,.table-primary>th {
		background-color: #b8daff
	}
	
	.table-hover .table-primary:hover {
		background-color: #9fcdff
	}
	
	.table-hover .table-primary:hover>td,.table-hover .table-primary:hover>th {
		background-color: #9fcdff
	}
	
	.table-secondary,.table-secondary>td,.table-secondary>th {
		background-color: #d6d8db
	}
	
	.table-hover .table-secondary:hover {
		background-color: #c8cbcf
	}
	
	.table-hover .table-secondary:hover>td,.table-hover .table-secondary:hover>th {
		background-color: #c8cbcf
	}
	
	.table-success,.table-success>td,.table-success>th {
		background-color: #c3e6cb
	}
	
	.table-hover .table-success:hover {
		background-color: #b1dfbb
	}
	
	.table-hover .table-success:hover>td,.table-hover .table-success:hover>th {
		background-color: #b1dfbb
	}
	
	.table-info,.table-info>td,.table-info>th {
		background-color: #bee5eb
	}
	
	.table-hover .table-info:hover {
		background-color: #abdde5
	}
	
	.table-hover .table-info:hover>td,.table-hover .table-info:hover>th {
		background-color: #abdde5
	}
	
	.table-warning,.table-warning>td,.table-warning>th {
		background-color: #ffeeba
	}
	
	.table-hover .table-warning:hover {
		background-color: #ffe8a1
	}
	
	.table-hover .table-warning:hover>td,.table-hover .table-warning:hover>th {
		background-color: #ffe8a1
	}
	
	.table-danger,.table-danger>td,.table-danger>th {
		background-color: #f5c6cb
	}
	
	.table-hover .table-danger:hover {
		background-color: #f1b0b7
	}
	
	.table-hover .table-danger:hover>td,.table-hover .table-danger:hover>th {
		background-color: #f1b0b7
	}
	
	.table-light,.table-light>td,.table-light>th {
		background-color: #fdfdfe
	}
	
	.table-hover .table-light:hover {
		background-color: #ececf6
	}
	
	.table-hover .table-light:hover>td,.table-hover .table-light:hover>th {
		background-color: #ececf6
	}
	
	.table-dark,.table-dark>td,.table-dark>th {
		background-color: #c6c8ca
	}
	
	.table-hover .table-dark:hover {
		background-color: #b9bbbe
	}
	
	.table-hover .table-dark:hover>td,.table-hover .table-dark:hover>th {
		background-color: #b9bbbe
	}
	
	.table-active,.table-active>td,.table-active>th {
		background-color: rgba(0,0,0,.075)
	}
	
	.table-hover .table-active:hover {
		background-color: rgba(0,0,0,.075)
	}
	
	.table-hover .table-active:hover>td,.table-hover .table-active:hover>th {
		background-color: rgba(0,0,0,.075)
	}
	
	.table .thead-dark th {
		color: #fff;
		background-color: #212529;
		border-color: #32383e
	}
	
	.table .thead-light th {
		color: #495057;
		background-color: #e9ecef;
		border-color: #dee2e6
	}
	
	.table-dark {
		color: #fff;
		background-color: #212529
	}
	
	.table-dark td,.table-dark th,.table-dark thead th {
		border-color: #32383e
	}
	
	.table-dark.table-bordered {
		border: 0
	}
	
	.table-dark.table-striped tbody tr:nth-of-type(odd) {
		background-color: rgba(255,255,255,.05)
	}
	
	.table-dark.table-hover tbody tr:hover {
		background-color: rgba(255,255,255,.075)
	}
	
	@media (max-width: 575.98px) {
		.table-responsive-sm {
			display:block;
			width: 100%;
			overflow-x: auto;
			-webkit-overflow-scrolling: touch;
			-ms-overflow-style: -ms-autohiding-scrollbar
		}
	
		.table-responsive-sm>.table-bordered {
			border: 0
		}
	}
	
	@media (max-width: 767.98px) {
		.table-responsive-md {
			display:block;
			width: 100%;
			overflow-x: auto;
			-webkit-overflow-scrolling: touch;
			-ms-overflow-style: -ms-autohiding-scrollbar
		}
	
		.table-responsive-md>.table-bordered {
			border: 0
		}
	}
	
	@media (max-width: 991.98px) {
		.table-responsive-lg {
			display:block;
			width: 100%;
			overflow-x: auto;
			-webkit-overflow-scrolling: touch;
			-ms-overflow-style: -ms-autohiding-scrollbar
		}
	
		.table-responsive-lg>.table-bordered {
			border: 0
		}
	}
	
	@media (max-width: 1199.98px) {
		.table-responsive-xl {
			display:block;
			width: 100%;
			overflow-x: auto;
			-webkit-overflow-scrolling: touch;
			-ms-overflow-style: -ms-autohiding-scrollbar
		}
	
		.table-responsive-xl>.table-bordered {
			border: 0
		}
	}
	
	.table-responsive {
		display: block;
		width: 100%;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: -ms-autohiding-scrollbar
	}
	.table-responsive a:hover{
		background-color: #a17171;
	}
	
	.table-responsive>.table-bordered {
		border: 0
	}


    .footer{
		height: 300px;
		border-top: 3px solid #990000;
		margin-top: 533px;
		margin-left: 5px;
		margin-right: 5px;
		margin-bottom: 10px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-flow: row wrap;
		padding: 15px;
		position: absolute;
		background-color: #0e2433;
		
	}
	.footer .row{
		display: flex;
	}
	.footer ul li p{
		color: #fff;
		font-size: 20px;
	}
	.footer-col{
		margin-top: 15px;
		width: 33%;
		padding: 0 50px;
	}
	.footer-col h4{
		font-size: 18px;
		color: #ffffff;
		text-transform: capitalize;
		margin-bottom: 30px;
		font-weight: 500;
		position: relative;
	}
	.footer-col h4::before{
		content:'';
		position: absolute;
		left: 0;
		bottom: -10px;
		background-color: red;
		height: 3px;
		box-sizing: border-box;
		width: 75px;
	}
	.footer-col ul li: not(:last-child){
		margin-bottom: 10px;
	}
	.footer-col ul li a{
		font-size: 16px;
		text-transform: capitalize;
		color: #ffffff;
		text-decoration: none;
		font-weight: 300;
		color: #bbbbbb;
		display: block;
		transition: all 0.3s ease;
	}
	.footer-col ul li a:hover{
		color:red;
		padding:0px;
	}


	.wrapper{
		display: flex;
		/*justify-content: space-around;*/
		border-collapse: collapse;
	}
	.contact-sidebar-address{
		width: 40%;
		height: 350px;
		background-color: rgb(1, 34, 34);
		/*border: 1px solid #860707;*/
	  }
	  /*.contact-sidebar {
		  background: #FCEADE;
		  position: absolute;
		  padding: 30px;
		  height: 350px;
		  width: 40%;
		  list-style: none;
		}*/
		.contact-sidebar li {
			color:#fff;
			margin-left: 20px;
		  	padding: 10px;
			list-style-type: none;		   
		} 
		.contact-sidebar li a{
			color: #fff;
	}
		/*.contact-sidebar li:first-child strong {
		  font-size: 18px;
		}*/
		/*.contact-sidebar li i {
		  font-size: 16px;
		  position: relative;
		  left: 0px;
		  top: 45px;
		}*/
		.contact-map {
		  width: 60%;
		  height: 350px;
		  border: 1px solid #860707; 
		  }
		.contact-map iframe {
		  width: 100%;
		  height: 350px;
		  background-color: #fff;
		}
		@media(max-width: 768px){
			.wrapper{
				flex-direction: column;
			}
			.contact-sidebar-address{width: 100%;
				height: 350px;
				margin-top: 30px;}
			.contact-map{width: 100%;
				height: 350px;
				margin-top: 30px;
					}
			.contact-map iframe{ width: 100%;
				height: 350px;
				margin-top: 30px;
					}

			}
					
		/*.col-lg-8 .col-md-12{
		  /*position: relative;
		  width: 60%;}
		  /*min-height: 1px;
		  padding-right: 15px;
		  padding-left: 15px;
	  }*/



